.Result_cont{
   
  
    margin:1rem;

    border-radius: 0;
  max-width: 600px;
 
  width: 600px;
}
.res{
  padding: 1rem;
  margin: 1rem;
  background-color: #2223;
  border-radius: 0;
  backdrop-filter: blur(15px);
  margin:0px;
}
.result,.res{
  width:400px;
}
.Result_cont>div{
  margin-bottom:20px;
}
.image_tag {
  width: 30%;
}